{% extends 'base.html.twig' %}

{% block title %}SGT - Generos{% endblock %}

{% block body %}
    <h1>Menu de Generos</h1>

    <a href="{{ path('app_genero_nuevo') }}" class=" btn btn-primary">Nuevo Genero</a>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" style="width: 50px;">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col" style="width: 250px;">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% set i = 1 %}
                {% for genero in generos %}
                <tr>
                    <th scope="row">{{ i }} {% set i = i + 1 %}</th>
                    <td>{{ genero.nombre }}</td>
                    <td >
                        <a href="{{ path('app_genero_detalle', {'id': genero.id}) }}" class="btn btn-primary">Detalle</a>
                        <a href="{{ path('app_genero_editar', {'id': genero.id}) }}" class="btn btn-warning">Editar</a>
                        <a href="{{ path('app_genero_eliminar', {'id': genero.id}) }}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
